<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <title>
            Login - FPT Online Meeting
        </title>
        <meta name="description" content="FO meeting.">
        <link rel="apple-touch-icon" href="/assets/img/conference.png">
        <link rel="stylesheet" href="/assets/css/sweetalert2.min.css" id="theme-styles">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v={{.verStatic}}" />
        <style>
            input:-webkit-autofill,
            input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
            input[data-autocompleted] {
                background-color: transparent !important;
            }
        </style>
    </head>
<body>
    {{if .error}}
    <script>alert("{{.error}}");</script>
    {{end}}
    <main class="main page-login" id="joinPage">
        <div class="container">
            <form method="post" class="box-login">
                <div class="box-title">
                    <div class="title">FPT Online Meeting</div>
                </div>
                <div class="form">
                    <div class="form-control name">
                        <input type="text" name="user" placeholder="User name" value="{{.user}}" required>
                    </div>
                    <div class="form-control passcode">
                        <input type="password" name="password" placeholder="Password" value="{{.password}}" required>
                    </div>
                </div>
                <button type="submit" class="join-meeting">LOGIN</button>
            </form>
        </div>
    </main>
</body>
</html>